
*{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif ;

}

.sidebar-row{
    height: 100vh;
    width: 100vw;
    
}

/* .container{
    overflow: hidden;
} */


.bi{
    font-size: 0.9rem;
    font-weight: bold;
}

.dropdown{
    padding-left:4rem;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    
}

.dropdown-active{
    height: 9rem;
}
.dropdown li{
  list-style: none;
  height: 3rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transition: background-image 0.3s ease ;
}

.dropdown li a{
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.dashboard{
    height: 100%;
    background-color: #f8f5f5;
    overflow-y: scroll;
}

.dashboard::-webkit-scrollbar{
    display: none;
}


.filter{
    height: 5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.filter-type{
    height: 2.5rem;
    padding-right: 1rem;
    border-radius: 0%;
    border-right: 0.1rem solid rgb(209, 208, 208);
    cursor: pointer;
    
}

.filter-type button{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-weight: 400;
    color:grey
}

.filter-options{
    position: relative;
    /* left:-10rem; */
    /* top:2rem; */
    width: max-content;
    border-radius: 1rem;
    height: max-content;
    padding: 0.7rem;

}

.filter-options li{
    border-radius: 1rem;
}

.filter-options li a{
    list-style: none;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;   
    border-radius: 1rem;
    color:grey
}

.filter-options li a:hover{
    background-color: #f4efff;
}

.label-value{
    font-weight: bold;
}

.label-text{
    color:grey
}

.graph-btn{
    border-radius: 2rem;
   border:none;
   font-weight: 500;
    margin: 0 0.5rem;
}

.graph-btn-clicked{
    background-color: #fa896b;
    color:black;
}

.card_style{
     border-radius: 1rem;
}

.btn-dark{
    color:white
}

.darkMode{
    background-color: #1e1e1e;
    color:white
}

.lightMode{
    background-color: white;
}

