.navbar{
    height: 5rem;
    border-radius: 1rem;
    background-color: white;
}

.navbar img{
    height: 3rem;
    width: 3rem;
    margin-top: 0.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.navbar i{
    padding-top: 2rem;
    cursor: pointer;
}