*{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
}
.dashboard{
    height: 100vh;
    background-color: #f8f5f5;
    overflow-y: scroll;
}

.dashboard::-webkit-scrollbar{
    display: none;
}

.sidebar-row{
    height: 100%;
}

.filter{
    height: max-content;
    border-radius: 1rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
}

.filter-type{
    height: 2.5rem;
    padding-right: 0.5rem;
    border-radius: 0%;
    border-right: 0.1rem solid rgb(209, 208, 208);
    cursor: pointer;

    
}

.filter-type button{
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
    font-weight: 400;
    color:grey
}

.filter-options{
    position: relative;
    width: fit-content;
    border-radius: 1rem;
    height: max-content;
    padding: 0.7rem;
}

.filter-options li{
    border-radius: 1rem;
}

.filter-options li a{
    list-style: none;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;   
    border-radius: 1rem;
    color:grey
}

.filter-options li a:hover{
    background-color: #f4efff;
}

.search{
 margin-top: -0.3rem;
}

.search-icon{
    margin-top: -0.3rem;   
}

.reset-btn{
    background-color: grey;
    border-radius: 2rem;
    color: white;
    
  }

  .scrollableTable{
    height: 20rem;
  }


  .scrollableTable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px grey;
	background-color: white;
}

.scrollableTable::-webkit-scrollbar
{
	height: 6px;
    width: 6px;
	background-color: white;
}

.scrollableTable::-webkit-scrollbar-thumb
{
	background-color: grey;
}

.table-width{
    width: 10rem;
}

.table-width-lg{
    width: 14rem;
}

.pagination li a{
    color:black;
    cursor: pointer;
}

.pagination li{
    border: none
}

.pagination{
    border:none
}

.search-bar span{
 font-weight: 600
}

.search-btn{
    background-color: #0085db;
    border-radius: 2rem;
    color: white;
}