<div class="container-fluid" style="overflow: hidden; height: 100vh;">
  <div class="row sidebar-row">
    <div class="col-xl-2  d-none d-xl-block py-3" style="height: 100%;">
      <app-sidebar></app-sidebar>
    </div>


    <div class="col-xl-10 col-12 dashboard">
      <!-- Navbar -->
      <app-navbar></app-navbar>


      <div class="d-flex flex-row justify-content-end my-4 mx-5">
        <button routerLink="/add_reseller" class="btn mx-3 add-btn">
          + Reseller
        </button>

        <button class="btn dropdown-toggle add-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i style=" -webkit-text-stroke: 0.03rem; " class="bi bi-tags mx-2"></i>
        </button>
        <div class="dropdown-menu p-3" style="width: 20rem;">
          <div class="input-group mb-3">
            <input [(ngModel)]="labelSearchValue" (ngModelChange)="onLabelSearch()" type="text" class="form-control"
              placeholder="Label..." aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div>
            <div class="labels-section">
              @for(label of labelSearchData;track label.name){
              <div class="label text-center my-3 mx-2"
                [ngStyle]="{'background-color': label.backgroundColor , 'color':label.color}">
                {{label.name}}
              </div>
              }
            </div>

            <div class="label-btn row row-cols-2 g-1 mt-4">
              <div class="col">
                <button class="btn" type="button" style="background-color: #75bae7; font-weight: 600;"
                  data-bs-toggle="modal" data-bs-target="#uniqueLabelModal">Add Label</button>


              </div>
              <div class="col">
                <button (click)="navigateToManageLabel()" class="btn"
                  style="background-color: #f8c075; font-weight: 600 ">Manage Label</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Filter HTML-->
      <div class="row row-cols-1 mx-xxl-5 mx-2 mt-4 d-none d-xl-block filter">
        <div class="col">
          <div (click)="openSearch()" class="mt-4 py-3 mx-3" style="cursor: pointer;">
            <i class="bi bi-search mx-3" style="-webkit-text-stroke: 1px;"></i> Search Here:
          </div>
          <div [ngClass]="isSearch ? 'd-block' : 'd-none'">
            <div class="d-flex flex-row justify-content-between ">
              <div class="d-flex flex-row justify-content-left">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="my-4">
                  <div class="row row-cols-3 g-3">

                    <div class="col">
                      <div class="mt-3">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="companyName-addon">Company Name</span>
                          <input type="text" class="form-control search" formControlName="companyName"
                            aria-describedby="companyName-addon">
                        </div>

                      </div>
                    </div>

                    <div class="col">
                      <div class="mt-3">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="email-addon">Email</span>
                          <input type="email" class="form-control search" formControlName="email"
                            aria-describedby="email-addon">
                        </div>

                      </div>
                    </div>

                    <div class="col">
                      <div class=" mt-3">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="mobile-addon">Mobile</span>
                          <input type="tel" class="form-control search" formControlName="mobile"
                            aria-describedby="mobile-addon">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="resellerType-addon">Reseller Type</span>
                          <input type="text" class="form-control search" formControlName="resellerType"
                            aria-describedby="resellerType-addon">
                        </div>

                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="registrationDateFrom-addon">Registration Date
                            From</span>
                          <input type="date" class="form-control search" formControlName="registrationDateFrom"
                            aria-describedby="registrationDateFrom-addon">
                        </div>

                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="registrationDateTo-addon">Registration Date
                            To</span>
                          <input type="date" class="form-control search" formControlName="registrationDateTo"
                            aria-describedby="registrationDateTo-addon">
                        </div>

                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">

                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="noOfAccountsFrom-addon">No. of Accounts
                            From</span>
                          <input type="number" class="form-control search" formControlName="noOfAccountsFrom"
                            aria-describedby="noOfAccountsFrom-addon">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="noOfAccountsTo-addon">No. of Accounts To</span>
                          <input type="number" class="form-control search" formControlName="noOfAccountsTo"
                            aria-describedby="noOfAccountsTo-addon">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="creditFrom-addon">Credit From</span>
                          <input type="number" class="form-control search" formControlName="creditFrom"
                            aria-describedby="creditFrom-addon">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="creditTo-addon">Credit To</span>
                          <input type="number" class="form-control search" formControlName="creditTo"
                            aria-describedby="creditTo-addon">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="label-addon">Label</span>
                          <select class="form-control search" formControlName="label" aria-describedby="label-addon">
                            <option value="">Please Select</option>
                            <option *ngFor="let label of labels" [ngValue]="label">{{label}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="accountManager-addon">Account Manager</span>
                          <select class="form-control search" formControlName="accountManager"
                            aria-describedby="accountManager-addon">
                            <option value="">Please Select</option>
                            <option *ngFor="let accountManager of accountManagers" [ngValue]="accountManager">
                              {{accountManager}}</option>

                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="mx-1 mt-3 ">
                        <div class="input-group mb-3 search-bar">
                          <span class="input-group-text search-icon" id="status-addon">Status</span>
                          <select class="form-control search" formControlName="status" aria-describedby="status-addon">
                            <option value="All">All</option>
                            <option *ngFor="let item of status" [ngValue]="item">{{item}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row justify-content-end">
                    <button class="btn my-3 search-btn mx-2 ">Search</button>
                    <button (click)="resetFilters()" class="btn my-3 reset-btn mx-2 ">Reset Filter</button>

                  </div>
                </form>

              </div>
            </div>
          </div>


        </div>

      </div>

      <!--- Table HTML -->
      <div class=" mx-xxl-5 mx-2 my-4 p-4" style="background-color: white; border-radius: 1rem; overflow:hidden">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row justify-content-left">
            <div [ngClass]="currentSection == 'partners' ? 'activeSection' : ''" (click)="changeSection('partners')"
              class="mx-4" style="font-weight: bold; cursor: pointer;">Partners</div>
            <div [ngClass]="currentSection == 'partnersRequest' ? 'activeSection' : ''"
              (click)="changeSection('partnersRequest')" style="font-weight: bold; cursor: pointer;">Partners Request
            </div>
          </div>

        </div>
        @if(data.length > 0){
        <h6 *ngIf="start >= 0 && end <= partnersData.length" class="my-4 mx-4" style="font-weight: bold;">Showing
          {{this.start+1}}
          to
          {{this.end}} of
          {{this.totalPages}}
          records</h6>
        <div class="scrollableTable mt-5" style="overflow-x: auto; height: 40vh;">
          <div style="width: max-content; position: relative;">
            <div style="position: sticky; top: 0; background: white; z-index: 1;">
              <div class="text-center" *ngFor="let column of columns"
                [ngClass]="column == 'Customer Email' ||  column == 'Email' || column == 'Partner Company' ||  column == 'Company Name' || column == 'Plan Name' ? 'table-width-lg' : 'table-width'"
                style="display: inline-block; font-weight: bold;">
                {{column}}
              </div>

            </div>

            <div *ngFor="let data of dataPerPage; let i = index"
              style="width: max-content; border-bottom: 1px solid #dee2e6; font-size: 0.95rem;">
              <div
                [ngClass]="column == 'Customer Email' || column == 'Email' || column == 'Partner Company' ||  column == 'Company Name' || column == 'Plan Name' ? 'table-width-lg' : 'table-width'"
                *ngFor="let column of columns;" class="text-center"
                style="display: inline-block; padding-top: 2.5rem; ">
                @if (column == 'Actions') {

                @if(currentSection == "partners"){
                <button style="background-color: #FFCCCC; border-radius: 2rem; font-weight: 600; border:none"
                  class="btn mb-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item ">
                      Manage <i class=" mx-2 bi bi-chevron-double-right" style="font-size: 0.8rem;"></i>
                      <ul class="dropdown-menu dropdown-submenu">
                        <li>
                          <a class="dropdown-item">Add Bills</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Remove Label</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Change Plan Pricing</a>
                        </li>
                        <li>

                      </ul>
                    </a></li>
                  <li><a class="dropdown-item">Suspend</a></li>
                  <li><a class="dropdown-item">Edit</a></li>
                  <li><a class="dropdown-item">Delete</a></li>
                  <li><a class="dropdown-item">Manage Reseller</a></li>
                </ul>
                }
                @else {
                <i (click)="modalOpen(i)" class="action-btn-icon bi bi-pencil-square" data-bs-toggle="modal"
                  data-bs-target="#exampleModal"></i>

                }

                }
                @else {
                {{getData(i, column)}}
                }
              </div>
            </div>
          </div>
        </div>

        }
        @else {
        <div class="text-center">
          <img src="/search_data.avif" alt="search_data">
          <h5>Unlock data insights by searching any field!</h5>
        </div>
        }

        @if(this.start >= this.end){
        <div *ngIf="dataPerPage.length == 0" class="text-center" style="font-weight: 500; font-size: 1.4rem;">
          Sorry no more data to show
        </div>
        }
        <div class="d-flex flex-row justify-content-end mt-3">
          <div class="mx-3 ">

            <button class="btn " style="border:none">
              Rows per page
            </button>
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="border:none">
              {{docPerPage}}
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="rowPerPage($event)" class="dropdown-item">5</a></li>
              <li><a (click)="rowPerPage($event)" class="dropdown-item">10</a></li>
              <li><a (click)="rowPerPage($event)" class="dropdown-item">15</a></li>
            </ul>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination" style="color:black">

              <li disabled="true" class="page-item" (click)="goToPage('first')">
                <a class="page-link" text-start aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>


              <li (click)="changePage('left')" class="page-item">
                <a class="page-link"><i class="bi bi-chevron-left"></i></a>
              </li>
              <li (click)="changePage('right')" class="page-item"><a class="page-link"><i
                    class="bi bi-chevron-right"></i></a>
              </li>
              <li (click)="goToPage('last')" class="page-item">
                <a class="page-link" text-start aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Label Modal -->
<div class="modal fade" id="uniqueLabelModal" tabindex="-1" aria-labelledby="labelModalLabel" aria-hidden="true">
  <app-add-label (new_label)="newLabel($event)"></app-add-label>
</div>


<!-- Edit Partner Request Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <h5 style="font-weight: 500;" class="fs-6" id="exampleModalLabel"> <span style="font-weight: bold;">Update
            Status </span> -
          {{modalTitle}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEdit()" class="my-4">
          <div class="col">
            <div class="mx-1 mt-1 ">
              <div class="text-start my-2" style="font-weight: bold;" id="label-addon">Status</div>
              <div class="input-group mb-3 search-bar">
                <select class="form-control form-select" formControlName="status" aria-describedby="label-addon">
                  <option value="Pending">Pending</option>
                  <option value="Approved">Approved</option>
                  <option value="Rejected">Rejected</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mx-1 mt-4 ">
              <div class="text-start my-2" style="font-weight: bold;" id="label-addon">Remark</div>
              <div class="input-group mb-3 search-bar">
                <input type="text" class="form-control" formControlName="remark" placeholder="Remark..."
                  aria-label="Username" aria-describedby="basic-addon1">

              </div>
            </div>
          </div>
          <div class="modal-footer" style="border:none">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" data-bs-dismiss="modal" class="btn"
              style="background-color: #7f56da; color:white">Save
              changes</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>