* {
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif ;
}
/* Styles for the background image container */
.container-fluid.login {
  position: relative;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
}

/* Styles for the overlay container */
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styles for the overlay content */
.overlay-content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  text-align: center;
  color: black
}

/* Dark overlay using ::before pseudo-element */
.overlay-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Styles for the heading and logo */
.heading {
 font-size: 1.5rem;
 font-weight: bold;
}

.logo {
  height: 40px; /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
}

.form img{
  height: 30rem;
}

.auth-btn{
  border-radius: 2rem;
  padding: 0.7rem;
  border: 1px solid grey;
  font-weight: 500;
}

.underline{
  border:1px solid grey;
  color: white;
  width: 5rem;
   height: 0rem;
}

.forgot-btn{
  border:none; color:#33aaff; font-weight: 500;
}

.submit{
  border-radius: 2rem; background-color: #0085db; color:white
}
